img.navbar-logo{
    height: 50px;
    width: 50px;
}

a.spaceright{
    margin-left: 5px;
}

nav.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  }
.discordIcon{
    cursor: pointer;
    color: grey;
}

.discordIcon:hover{
    color:#a91b0c;
}