/* You can add global styles to this file, and also import other style files */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-left: 5px;
    margin-top: 5px;

}

.biggerButtonIcon {
    font-size: 15px;
}

body{
    background-color: #fff;

}

.btn-outline-primary{
   color: #a91b0c;
   border-color:  #a91b0c;

}

.btn-primary:hover{
    background-color: #a91b0c;
    border-color: #a91b0c;
}

 div > hr{
     color:#a91b0c;
     border-color: #a91b0c;
 }

 div > h1{
  
    margin-bottom: 20px;
}


